<div class="container-fluid" style="padding-top: 10%; padding-bottom: 10%;">
  <div class="row text-center">
    <div class="col col-sm-6 offset-sm-3">
      <h2>Hi, I’m Matt. Nice to meet you.</h2>
      <p>Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually improving my chops.</p>
    </div>
  </div>
</div>
