<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-md-10">
      <h1>Web Developer, Front-end Developer, App Developer & Designer</h1>
      <p style="font-size: 1.6em">I Code all thing, simply and very powerfull, and I love what I do.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-3">
      <img class="img-fluid" src="../../assets/img/bitmoji-smile.png">
    </div>
  </div>
</div>

<img src="../../assets/img/Flat-design-concept-for-development-websites.png" class="img-fluid d-block" width="100%">
